*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

h1{
    color: black;
    font-weight: 900;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    color: black;
    font-weight: 900;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    border: 5px solid rgb(134, 240, 248);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 140px;
    color: black;
    font-weight: 900;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    text-align: center;
    background-color: #DFE7F2;
}

.container-fluid{
    height: 250px;
    background-color: #DFE7F2;
}

.profil_container{
    padding-top: 80px;
}

.info_perso{
    position: relative;
    top: 10px;
    line-height: 30px;
}

img{
    position: relative;
    margin-left: 50px;
    border: 2px solid rgb(54, 52, 52);
}

.icone{
    background-color: #DFE7F2;
    height: 50px;
}

#paragraphe0{
    position: relative;
    left: auto;
    font-weight: 550;
}

#btn_profile{
    position: relative;
    left: auto;
    background-color: rgb(42, 163, 42);
    border: none;
    width: 100px;
    font-weight: bold;
}

svg{
    fill: rgb(42, 163, 42);
}


#download{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
    border: 0.5px solid rgb(42, 163, 42);
    color: rgb(42, 163, 42) ;
    font-size: 15px;
    padding: 10px;
    width: 125px;
    height: 10px;

}

.experiences{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #DFE7F2;
    height: 400px;
}

li{
    list-style-type: none;
}

.column1{
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgb(134, 240, 248);
    border-top: none;
    border-right: none;
    border-left: none;
    width: 300px;
}

.column2{
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgb(134, 240, 248);
    border-top: none;
    border-right: none;
}

.para{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}